*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.brand-title{
  display: flex;
  justify-content: space-around;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fafafa;
  box-shadow: 0 8px 6px -6px rgb(187, 182, 182);
  position: sticky;
  height: 95px;
  width: 100%;
}

.brand-title {
  font-size: 1.5rem;
  margin: 2.5rem;
}

.brand-title:hover{
  color: rgb(175, 155, 155);
  cursor: pointer;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
  margin: 2.5rem;
}

.navbar-links li{
  list-style: none;
  text-decoration: none;
  background: #fafafa;
  text-align: center;
  cursor: pointer;
}

.navbar-links li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
  font-size: 1rem;
}

.navbar-links li a:hover{
  border-radius: 5px;
  text-decoration: none;
  background-color: rgb(175, 155, 155);
  color: #fafafa;
}

