.welcome-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-account{
    background-color: aquamarine;
    width: 90vw;
    height: 150vh;
}

.make-your-own{
    background-color: rgb(66, 163, 131);
    width: 90vw;
    height: 150vh;
}

.add-recipes{
    background-color: rgb(19, 122, 88);
    width: 90vw;
    height: 150vh;
}

.organize-recipes{
    background-color: rgb(172, 212, 199);
    width: 90vw;
    height: 150vh;
}

.find-recipes{
    background-color: aquamarine;
    width: 90vw;
    height: 150vh;
}

.meal-planner{
    background-color: rgb(104, 138, 126);
    width: 90vw;
    height: 150vh;
}

.subscription{
    background-color: rgb(15, 228, 157);
    width: 90vw;
    height: 150vh;
}