* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.brand-title-footer {
  font-size: 2rem;
  margin: 2rem;
}

.brand-title-footer a {
  color: #fafafa;
  text-decoration: none;
}

.brand-title-footer:hover {
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(80, 80, 78);
  color: #fafafa;
  height: 50vh;
}

.footer-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin: 2.5rem;
}

.footer-links li {
  list-style: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.footer-links li a {
  text-decoration: none;
  color: #fafafa;
  padding: 1rem;
  display: block;
  font-size: 1rem;
}

.social-media-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.social-media-links li {
  list-style: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.social-media-links li a {
  text-decoration: none;
  color: #fafafa;
  padding: 1rem;
  display: block;
  font-size: 1rem;
}
