*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  background: #fafafa;
  box-shadow: 0 8px 6px -6px rgb(187, 182, 182);
  position: sticky;
  height: 95px;
  width: 100%;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.logo:hover{
  color: rgb(175, 155, 155);
  cursor: pointer;
}

.signup {
  margin-left: auto;
  margin-right: auto;
}

.btn.btn-slide{
    border-radius: 5px;
    text-decoration: none;
    background: #fafafa;
    font-size: x-small;
    margin: 20px;
    text-align: center;
    min-width: 125px;
    cursor: pointer;
    border: 1px solid black;
}

.btn.btn-slide:hover{
  text-decoration: none;
  background-color: rgb(175, 155, 155);
  color: #fafafa;
}

/* .btn.btn-slide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);
    transition: transform 50ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.btn.btn-slide:hover::before{
    transform: scaleX(1);
}

.btn.btn-slide{
    transition: color 50ms ease-in-out;
    z-index: 1;
}

.btn.btn-slide:hover{
    color: #fafafa;
} */
